---
// Link UI to switch another locale.
// If you support only 2 locales, this style is useful.

import { LOCALES } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";

import { Image } from "astro:assets";
import enImage from "@/assets/flags/en.png";
import roImage from "@/assets/flags/ro.png";

console.assert(
  Object.keys(LOCALES).length === 2,
  "The number of locale settings is not 2. This UI only supports switching between 2 languages."
);

const images = {
  en: enImage,
  ro: roImage,
};

const anotherLang =
  Astro.currentLocale === Object.keys(LOCALES)[0]
    ? Object.keys(LOCALES)[1]
    : Object.keys(LOCALES)[0];

console.log(anotherLang);
---

<a
  class="locale-select-single"
  href={getRelativeLocaleUrl(
    anotherLang,
    Astro.url.pathname.replace(/^\/[a-zA-Z-]+/, "")
  )}
>
  <Image
    src={images[anotherLang]}
    alt="flag"
    width="15"
    class="inline align-middle"
    style="padding-top:9px"
  />
  <span class="lang-label">{LOCALES[anotherLang].label}</span>
</a>

<style>
  .locale-select-single {
    padding: 0.5em;
    background-color: color-mix(in srgb, var(--color-main) 10%, transparent);
    border-radius: 6px;
    font-family: "Noto Sans";
    font-size: 0.7rem;
    text-align: center;
    opacity: 0.7;
  }

  .lang-label {
    text-align: center !important;
    width: 100%;
    margin: 0 auto;
  }
</style>
