/* define the layout and structure of the entire page */
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	background-image:
		linear-gradient(
			color-mix(in srgb, var(--color-base) 10%, transparent),
			color-mix(in srgb, var(--color-base) 90%, transparent)
		),
		url('/main_bg.png');
	background-size: auto, 220px 220px;
	background-repeat: repeat;
}

.l-main {
	flex: 1;
}

.l-content {
	max-inline-size: 768px;
	padding-inline: var(--sp-m);
	margin-inline: auto;
}