/* define the layout and structure of the entire page */
body {

	height: 100%;
	overflow-x: hidden;
	background-image: linear-gradient(45deg, #f7060638 30%, #bea0a096 30%, #bea0a096 60%, #f7060638 60%);
}

.l-content {
	max-inline-size: 768px;
	padding-inline: var(--sp-m);
	margin-inline: auto;
}