/* define the layout and structure of the entire page */
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	background-image: linear-gradient(45deg, #d33a3a86 30%, #3809091e 30%, #3809091e 60%, #d33a3a86 60%);
}

.l-main {
	flex: 1;
}

.l-content {
	max-inline-size: 768px;
	padding-inline: var(--sp-m);
	margin-inline: auto;
}