/* define the layout and structure of the entire page */
body {

	height: 100%;
	overflow-x: hidden;
	background-image: linear-gradient(45deg, #f706067e 30%, #ffffff13 30%, #ffffff13 60%, #f706067e 60%);
}

.l-content {
	max-inline-size: 768px;
	padding-inline: var(--sp-m);
	margin-inline: auto;
}