---
// Footer UI displayed on each page.
---

<footer class="footer">
  <a class="copy" href="https://cautare-salvare.ro" target="_blank" dir="ltr">
    © Asociatia De Cautare Salvare - {new Date().getFullYear()}
  </a>
</footer>

<style>
  footer {
    text-align: center;
    background-color: var(--color-theme);
    color: white;
    text-align: center;
    padding: 0.5rem;
  }
</style>
