---
// Footer UI displayed on each page.
---

<footer class="footer">
  <a class="copy" href="https://adcs.ro" target="_blank" dir="ltr">
    © Asociatia De Cautare Salvare - ADCS {new Date().getFullYear()}
  </a>
</footer>

<style>
  footer {
    text-align: center;
    background-color: var(--color-theme);
    color: var(--color-base);

    padding: 0.5rem;
    margin-top: 2rem;

    position: fixed;

    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
  }
</style>
