---
// UI used for heading title on each page.

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div>
  <h1>
    {title}
    <hr />
  </h1>

  <slot />
</div>

<style>
  h1 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 2rem;
    color: var(--color-accent);
  }
</style>
