---
import { LOCALES, useTranslations, type Lang } from "@/i18n";
import Layout from "@/layouts/Article.astro";
const t = useTranslations(Astro.currentLocale as Lang);
import { getRelativeLocaleUrl } from "astro:i18n";

import adcsLogo from "@/assets/adcs-logo.jpg";
import backgroundImage from "@/assets/background_light.png";

import { Image } from "astro:assets";

const locale = Astro.currentLocale as Lang;

export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));
---

<Layout>
  <div>
    <Image src={backgroundImage} alt="bg.png" loading="eager" />
  </div>
</Layout>

<style></style>
