---
import NotTranslateCaution from "@/components/i18n/NotTranslateCaution.astro";
import { localeParams } from "@/i18n";
import PageHeadline from "@/components/PageHeadline.astro";
import Layout from "@/layouts/Base.astro";

const title = "Monolingual Page";
export const getStaticPaths = () => localeParams;
---

<Layout {title}>
  <NotTranslateCaution usedLangs={["en"]} />
  <PageHeadline {title} />

  <p>Here is a sample page when only one language is set.</p>

</Layout>
